:root {
  --playerWidth: 10px;
  --playerHeight: 100px;
  --playerColor: #ffffff;
  --ballRadius: 8px;
  --ballColor: #ffffff;
  --scoreLeft: calc(50% - calc(var(--playerWidth) + 80px));
  --scoreRight: calc(50% + 80px);
  --scoreSize: 48px;
  --backgroundColor: #000000;
}

#container {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--backgroundColor);
  width: 100%;
  max-width: 600px;
  height: 80%;
  max-height: 640px;
  box-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000, 0px 0px 20px #000000;
}

#headerOptions {
  display: flex;
  width: 100%;
  border-radius: 2px;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#web {
  position: absolute;
  width: 10px;
  height: 100%;
  border-left: 10px dashed white;
  left: 50%;
  top: 0%;
}

#playerLeftScore {
  display: inline;
  position: absolute;
  left: var(--scoreLeft);
  top: 20px;
  color: #ffffff;
  font-size: var(--scoreSize);
}

#playerRightScore {
  display: inline;
  position: absolute;
  left: var(--scoreRight);
  top: 20px;
  color: #ffffff;
  font-size: var(--scoreSize);
}

#playerLeft {
  position: absolute;
  left: 20px;
  top: calc(50% - calc(var(--playerHeight) / 2));
  width: var(--playerWidth);
  height: var(--playerHeight);
  background-color: var(--playerColor);
}

#playerRight {
  position: absolute;
  right: 20px;
  top: calc(50% - calc(var(--playerHeight) / 2));
  width: var(--playerWidth);
  height: var(--playerHeight);
  background-color: var(--playerColor);
}

#ball {
  position: absolute;
  left: calc(50% - var(--ballRadius));
  top: calc(50% - var(--ballRadius));
  width: calc(var(--ballRadius) * 2);
  height: calc(var(--ballRadius) * 2);
  background-color: var(--ballColor);
  border-radius: 50%;
  border: none;
}

@media screen and (max-width: 600px) {
  :root {
    --playerWidth: 10px;
    --playerHeight: 75px;
    --playerColor: #ffffff;
    --ballColor: #ffffff;
    --scoreLeft: calc(50% - calc(var(--playerWidth) + 80px));
    --scoreRight: calc(50% + 80px);
    --scoreSize: 24;
    --backgroundColor: #000000;
  }
}
